<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoeSpa India | A Place For Shoe Drycleaning</title>
    <link rel="stylesheet" href="styles.css">
    <script src="script.js" defer></script>
</head>

<body>
    <nav>
        <ul>
            <li>
                <ul>
                    <li>
                        <img src="./images/value1.svg" alt="" class="triplet" style="height: 15vh;">
                    </li>
                    <li>
                        <img src="./images/value2.svg" alt="" class="triplet" style="height: 15vh;">
                    </li>
                    <li>
                        <img src="./images/value3.svg" alt="" class="triplet" style="height: 15vh;">
                    </li>
                </ul>
            </li>
            <li>
                <img src="./images/IMG-20201124-WA0025.jpg" class='logo' alt="">
            </li>
        </ul>
    </nav>
    <section class="intro">
        <div class="heading">
            <p class="change"></p>
            <p>SHOE RESTORATION</p>
        </div>
        <img class="restoration" src="" alt="">
        <div class="bar"></div>
    </section>
    <div class="services">
        <h1 style="margin-bottom: 25px;letter-spacing: 4px;">OUR SERVICES</h1>
        <div class="imgs">
            <div class="img">
                <img src="./images/service1.jpg" class="img1" alt="">
                <p>From ₹150</p>
                <h3 class="head">Shoe Drycleaning</h3>
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium assumenda ratione doloremque
                    dolor quia nesciunt, deserunt facilis tenetur dolorum, cupiditate blanditiis amet recusandae
                    corporis ab a consequuntur cumque exercitationem quidem!</h3>
            </div>
            <div class="img">
                <img src="./images/service2.jpg" class="img2" alt="">
                <p>From ₹150</p>
                <h3 class="head">Shoe Repair</h3>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus illo aperiam, debitis id
                    neque, eos saepe voluptate porro ipsum accusantium nam voluptatibus? Itaque ipsa incidunt
                    repudiandae sit natus consequuntur asperiores.</h3>
            </div>
            <div class="img">
                <img src="./images/service5.jpg" class="img3" alt="">
                <p>Coming soon</p>
                <h3 class="head">Full Drycleaning</h3>
                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus provident aspernatur ex
                    reprehenderit aut labore quas sequi officia nulla culpa aperiam iste, eveniet mollitia ipsum nemo
                    error accusantium ad assumenda?</h3>
            </div>
        </div>
    </div>
    <div class="process">
        <h1>HOW IT WORKS</h1>
        <p>Shoe restoration,shoe repair,cleansing,refreshing,suede shoe cleaning</p>
        <div class="processimg">
            <div class="step">
                <img src="./images/Step01.svg" alt="">
                <p>1.Book our service from our website</p>
            </div>
            <div class="step">
                <img src="./images/Step02.svg" alt="">
                <p>2.We'll Pick up your items</p>
            </div>
            <div class="step">
                <img src="./images/Step03.svg" alt="">
                <p>3.We carefully restore your items</p>
            </div>
            <div class="step">
                <img src="./images/Step04.svg" alt="">
                <p>4.You recieve your perfectly restored items.</p>
            </div>
        </div>
    </div>

</body>

</html>