<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/IMG-20201124-WA0025.ico">
    <title>CleanCartel India | A Place For Shoe Drycleaning</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="form.css">
    <script src="script.js" defer></script>
    <script src="nav.js" defer></script>
</head>

<body>
    <%- include('./helpers/nav.ejs') %>
    <section class="intro">
        <div class="heading">
            <p class="change"></p>
            <p>SHOE DRYCLEANING</p>
        </div>
        <img class="restoration" src="" alt="">
        <div class="bar"></div>
    </section>
    <%- include('./helpers/service.ejs') %>
    <img src="./images/Blue and White Vote for Excellence 72x36 Landscape Campaign Banner (1).jpg" alt=""
        style="width: 100vw;object-fit: cover;">
    <div class="process" id="process">
        <h1 style="letter-spacing: 4px;">HOW IT WORKS</h1>
        <div class="processimg">
            <div class="step">
                <img src="./images/3.png" alt="">
                <p>1.Book our service from our website</p>
            </div>
            <div class="step">
                <img src="./images/5.png" alt="">
                <p>2.We'll Pick up your items</p>
            </div>
            <div class="step">
                <img src="./images/4.png" alt="">
                <p>3.We carefully restore your items</p>
            </div>
            <div class="step">
                <img src="./images/7.png" alt="">
                <p>4.You recieve your perfectly restored items.</p>
            </div>
            <div class="step">
                <img src="./images/7.png" alt="">
                <p>4.You recieve your perfectly restored items.</p>
            </div>
        </div>
    </div>

    <%- include('./helpers/form.ejs') %>
    <img src="./images/Blue and White Vote for Excellence 72x36 Landscape Campaign Banner.jpg" alt=""
        style="width: 100vw;object-fit: cover;">
    <%- include('./helpers/footer.ejs') %>
</body>

</html>