
@import url("https://fonts.googleapis.com/css?family=Montserrat");

*{
    --pop: 'Montserrat';
    --barwidth: 0;
    --barpad: calc(50vw - 150px);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--pop);
    /* border:3px solid red; */
}
html{
    scroll-behavior: smooth;
}
/* nav{
height:10vh;
background: #0C0324;
position: relative;
} */
/* .nav-links{


width:50%;
height: 100%;

align-items:center;
margin-left: auto;
} */
/* nav .nav-links{
    display:flex;
    position: fixed;
    list-style: none;
    background: #0C0324;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    clip-path: circle(0px at 90% -10%);
    -webkit-clip-path:circle(0px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
}
nav .nav-links.open{
clip-path:circle(1000px at 90% -10%);
-webkit-clip-path:circle(1000px at 90% -10%);
pointer-events: all;

}
nav .nav-links li a{
color: white;
text-decoration: none;
font-size: 16px;
}
nav .line{
width:30px;
height:3px;
background:white;
margin:5px;
}
nav .hamburger{
position: absolute;
cursor: pointer;
right: 5%;
top: 50%;
transform: translate(-5%,-50%);
z-index: 3;
} */
 /* nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 20vh;
     width: 100%; 
     backdrop-filter: blur(5px);
     z-index: 10;
     /* border:2px solid black; */
/* } */


 /* nav ul{
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: left;
     flex-direction: row;
     width: 100%;
     position: relative;
 } */
/* 
nav ul .logo {
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translate(-50%,-50%);
    height: 15vh;
   
}
nav ul .nav-links{
    position: fixed;
    display: flex;
    top: 50%;
    left: 80%;
    background-color:royalblue ;
    height:100vh;
    width: 100%;
    flex-direction: column;
    display:none;
}

nav .hamburger .line{
    height:3px;
    width:30px;
    color:indigo;
    margin:5px;
} */
/* nav{
    position: relative;
} */
/* nav .hamburger{
    position: absolute;
    top:20%;
    right:5%;
} */


 /* nav ul li ul {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-left: 2.5vw;
 } */ 

 .intro {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     padding-bottom: 5vh;
     flex-direction: column;
     margin-top: 20vh;
     overflow-x: hidden;
 }

 .intro img {
    z-index: -1;
    padding: 50px;
}
.intro .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.intro p{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 3px;
}
.intro .change{
    padding-right: 5px;
    font-weight: 500;
    color: gold;
    animation: text 4s linear infinite;
    width: 150px;
    text-align: center;
}
@keyframes text{
    0%{
        transform: translate(0px,0px);
        opacity: 1;
    }
    50%{
        transform: translate(0px,20px);
        opacity: 0;
    }
    100% {
        transform: translate(0px,0px);
        opacity: 1;
    }
}

.services{
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    width: 100vw;
}
.services .imgs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 90vw;
    padding: 15px;
}
.services .imgs .img img {
    border-radius: 50%;
}
.services h1{
 font-family: 'Montserrat';
 text-align: center;
}

.intro .bar {
    /* width: 300px; */
    align-self: flex-start;
    left: 0;
    text-align: left;
    margin-left: var(--barpad);
    border: 2px solid gold;
    transition: 1s;
}
.services .imgs .img{
    border:4px solid gold;
    position: relative;
    padding: 10px;
}
.services .imgs .img p{
    position:absolute;
    top:25%;
    left:65%;
    font-family: 'Montserrat';
    font-size: 18px;
    width: max-content;
    background: white;
    color: gold;
    padding:10px 15px;
    transform: translate(0,-50%);
}
.services .imgs .img h3{
    font-weight: 500;
    text-align: center;
    margin-top:20px ;
}

.services .imgs .img .head{
    color: indigo;
    font-weight: 700;
}
/* .services .imgs .img button{
    align-items: center;
    size: 20px;
} */
 /* .intro .restoration {
     border: 2.5px solid gold;
     padding: 0 100px;
 } */
.process{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    background-color:white;
    padding-top: 30px;
    /* height:100vh; */
    /* ss */
}

.process .processimg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 27px;
}

.process .processimg {
    flex-direction: row;
    overflow-x: scroll;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
}

.process .processimg img{
    /* height:20vh; */
    width: 80vw;
}

.process h1{
    font-family: var(--pop);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 1000;
    letter-spacing: 3px;

}
.process p{
    padding-top: 20px;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    font-weight: 300;
}

.process .processimg .step p{
    font-size: 1rem;
    text-align: center;
}
.footer h1{
    font-size: 10px;
    background-color: #0C0324;
    color: white;
    text-align: center;
    width: 100vw;
    padding: 20px 400px;
}

/* form{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 50%;
    position: absolute;
    left: 50%;
    border: 2px solid black ;
    padding:20px;
    z-index: 5;
}

form input {
    align-self: flex-start;
    height: 50px;
    width: 300px;
}
form label{
    align-self: flex-start;
} */


 /* Mobile devices below */
 @media(max-width:800px) {
     
     /* nav ul .triplet {
         display: none !important;
     }

     .intro {
         flex-direction: column;
         overflow-x: hidden;
     }
     nav ul .logo{
         height: 7.5vh;
     }

     nav{
         height: 12.5vh;
     } */
     .services .imgs {
        flex-direction: row;
        overflow-x: scroll;
        width: 100vw;
        justify-content: flex-start;
    }

    .services img {
        margin: 0 20px;
    }

    .intro p {
        font-size: 1rem;
    }

    .intro .change {
        width: 110px;
    }
    
    .services .imgs .img p{
        left: 58%;
    } 
    .services .imgs .img h3{
        margin-top: 7px;
    
    }
    
    .process{
        flex-direction: column;
    }
    .process p{
        text-align: center;
    }
    .process .processimg {
        flex-direction: row;
        overflow-x: scroll;
        width: 100vw;
        justify-content: flex-start;
        align-items: center;
    }
    .process .processimg img{
        align-items: center;
        /* height: 30vh; */
    }
    .footer h1{
        font-size: 10px;
        background-color: #0C0324;
        color: white;
        text-align: center;
        width: 100vw;
        padding: 0 10px;
    }
    
    /* form{
        left:0;
        width: 100%;
    }
    form input{
        width: 300px;
        height: 40px;
    } */
 }

 /* Desktop, PC, Laptop Devices Below */
 @media(min-width: 800px) {
    .process .processimg img{
        width: 22vw;
    }
 }