<div class="footer">
    <h1>TERMS AND CONDITIONS<br>
        1. Delivery not functional on sunday.<br>
        2. We do not accept shredded shoes for dry cleaning.<br>
        3. Cleaning can be done to certain extent we don't gaurantee stain removal and no refund can be claimed on any
        such
        basis.</h1>
</div>