<div class="footer">
    <h1>Delivery not functional on sunday
        we do not accept shredded shoes for dry cleaning.
        Cleaning can be done to certain extent we don't gaurantee stain removal and no refund can be claimed on any such
        basis.</h1>
</div>