<form action="/userorder" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
    <label for="number">Phone Number:</label>
    <input type="number" id="number" name="phoneNumber" required>
    <label for="address">Address:</label>
    <textarea id="address" required name="address"></textarea>
    <button>Submit</button>
</form>