<form action="/userorder" method="POST">
    <div class="emailtaken"></div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
    <label for="number">Phone Number:</label>
    <input type="number" id="number" name="phoneNumber" required>
    <label for="address">Address:</label>
    <textarea id="address" required name="address"></textarea>
    <button>
        Submit
    </button>
    <!-- <script src="https://checkout.razorpay.com/v1/payment-button.js"
                data-payment_button_id="pl_G6w516u45TVu6S"> </script> -->

</form>