<nav>
    <ul class="logo-burger">
        <li><a href="#"><img src="./images/IMG-20201124-WA0025.jpg" alt="" height="250vh"></a></li>
        <li>
            <div class="burger">
                <div class="filling filling1"></div>
                <div class="filling filling2"></div>
                <div class="filling filling3"></div>
            </div>
        </li>
    </ul>
    <ul class="menu">
        <li><a href="#services" class="a">SERVICES</a></li>
        <li><a href="#process" class="b">HOW IT WORKS</a></li>
        <li><a href="#form" class="c">BOOK YOUR SERVICE NOW</a></li>
    </ul>
</nav>