<div class="services" id="services">
    <h1 style="margin-bottom: 25px;letter-spacing: 4px;">OUR SERVICES</h1>
    <div class="imgs">
        <div class="img">
            <img src="./images/service1.jpg" class="img1" alt="">
            <p>From ₹159</p>
            <h3 class="head">Standard Shoe Drycleaning</h3>
            <h3>External Cleaning<br>
                Inside Cleaning<br>
                Stain Removal<br>
                Shoe Lace and Mid Sole Cleaning<br>
                Odour Restoration</h3>
            <!-- <button>Select</button> -->
        </div>
        <div class="img">
            <img src="./images/service2.jpg" class="img2" alt="">
            <p>From ₹209</p>
            <h3 class="head">Premium Shoe Dry Cleaning</h3>
            <h3>Extensive shoe cleaning with <br>premium grade<br> chemicals with<br> additional water proofing
                coating<br>
                included.
            </h3>
            <!-- <button>Select</button> -->
        </div>
        <div class="img">
            <img src="./images/service5.jpg" class="img3" alt="">
            <p>Coming soon</p>
            <h3 class="head">Complete Shoe Restoration Services</h3>
            <h3>Scratches Repair<br>
                Sewing and Glueing<br>
                Leather Repair<br>
                Colour Restoration</h3>
            <!-- <button>Select</button> -->
        </div>
    </div>
</div>